@model IEnumerable<Teacher>
@{
}

<table>

    @foreach (Teacher t in Model)
    {
        <tr>
            <td>@Html.ActionLink(t.Name, "Details", new { id = t.Id })</td>
            <td>@t.Name</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = t.Id })</td>
            <td>Delete</td>
        </tr>
    }

</table>
