<form [formGroup]="orderForm">
    <div class="row">
        <div class="col">
            <mat-select placeholder="Item">
                <mat-option *ngFor="let item of items">{{item.name}}</mat-option>
            </mat-select>
        </div>
        <div class="col">
            <mat-select placeholder="Quantity">
                <mat-option *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">{{n}}</mat-option>
            </mat-select>
        </div>
    </div>
    <div class="row">
        <div>
            <button mat-button color="accent">Add Item</button>
        </div>
        <div>
            <button mat-button color="warn" *ngIf="order.orderItems.length > 1">Remove Item</button>
        </div>
    </div>
</form>
