@model IEnumerable<Course>
@{
}

<table>

    @foreach( Course c in Model)
    {
        <tr>
            <td>@Html.ActionLink(c.Name, "Details", new { id=c.Id})</td>
            <td>@c.ClassTeacher.Name</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = c.Id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = c.Id })</td>
        </tr>
    }


</table>