<mat-stepper linear #stepper>
  <mat-step [stepControl]="orderItems" label="Select your items">
    <app-order-details (orderChanged)="orderChangeHandler($event)"></app-order-details>
  </mat-step>
  <mat-step [stepControl]="customer" label="Fill out your information">
    <app-address-form (customerChanged)="customerChangeHandler($event)"></app-address-form>
  </mat-step> 
  <mat-step>
    <ng-template matStepLabel>Place Order</ng-template>
    <p>That's it! Click submit to finish placing your delivery.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="submitOrder()">Submit</button>
    </div>
  </mat-step>
</mat-stepper>