@model IEnumerable<Student>
@{
}

@foreach (Student s in Model)
{
    <tr>
        <td>@Html.ActionLink(s.Name, "Details", new { id = s.Id })</td>
        Courses:
        @foreach(Course c in s.Courses)
                {
                    <td>@c.Name</td>
                }
        <td>@Html.ActionLink("Edit", "Edit", new { id = s.Id })</td>
        <td>Delete</td>
    </tr>
}

