body {
    text-align: center;
}

ul li {
    display:inline-block;
    margin-right:10px;
}

#synonymList {
    text-align: left;
}

#synonyms {
    text-align: left;
}

#definitions {
    text-align: left;
}

